extends layout

block content
	form( class="form-signin", role="form", action="/register", method="post")
		h2.form-signin-heading Please register
		label(class="sr-only") Username
		input.form-control(type="text", name="username" placeholder="Username", required, autofocus)
		label(for="inputEmail" class="sr-only") Email address
		input.form-control(type="email", name="email" placeholder="Email address", required)
		label.sr-only(for="inputPassword") Password
		input.form-control(type="password", name="password", placeholder="Password", required)
		input.btn.btn-lg.btn-primary.btn-block(type="submit", value="Register")
