extends layout

block append content
	div.
		<iframe src="https://app.box.com/embed_widget/s/yz2ha9t8a2rnkivlkcke?view=list&sort=name&direction=ASC&theme=blue" width="500" height="400" frameborder="0"allowfullscreen webkitallowfullscreen msallowfullscreen></iframe>
