nav.navbar.navbar-default(role="navigation")

	.navbar-header
		button.navbar-toggle(type="button",data-toggle="collapse",data-target="#main_site_nav")
			span.sr-only Toggle navigation
			span.icon-bar
			span.icon-bar
			span.icon-bar
		a.navbar-brand(href="/users/home/") 
			| #{user.username}

	.collapse.navbar-collapse#main_site_nav
		ul.nav.navbar-nav
			li.navbar-left
				a(href="/data/") Browser
			li.navbar-left
				a(href="/box/") Box
			li.navbar-left
				a(href="/view/") Image viewer
			li.pull-right
				a(href="/logout") Logout
